@media(max-height
: 750px) {
    canvas{
        top: 0;
        height: 90vh;
        z-index: 1;
    }
    footer{
        font-size: 30%;
        display: none;
    }
    .smartOverlay{
        height: 80vh;
    }
}
@media(max-width: 550px) {
    .switchPortaitImage {
        height: 7.5em;
        width: 6.5em;
    }
    body{
        background-size: cover;
    }
}